<a href="https://colab.research.google.com/github/Thaubit/TM---Le-Wagon/blob/main/BigQuery_Initial_query_exchange.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# @title Setup
from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

project = 'home-exchange-391009' # Project ID inserted based on the query results selected to explore
location = 'EU' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()
auth.authenticate_user()

## Reference SQL syntax from the original job
Use the ```jobs.query```
[method](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/query) to
return the SQL syntax from the job. This can be copied from the output cell
below to edit the query now or in the future. Alternatively, you can use
[this link](https://console.cloud.google.com/bigquery?j=home-exchange-391009:EU:bquxjob_77595712_188f756fcf8)
back to BigQuery to edit the query within the BigQuery user interface.

In [2]:
# Running this code will display the query used to generate your previous job

job = client.get_job('bquxjob_77595712_188f756fcf8') # Job ID inserted based on the query results selected to explore
print(job.query)

SELECT * FROM `home-exchange-391009.HomeExchange.exchanges`

# Result set loaded from BigQuery job as a DataFrame
Query results are referenced from the Job ID ran from BigQuery and the query
does not need to be re-run to explore results. The ```to_dataframe```
[method](https://googleapis.dev/python/bigquery/latest/generated/google.cloud.bigquery.job.QueryJob.html#google.cloud.bigquery.job.QueryJob.to_dataframe)
downloads the results to a Pandas DataFrame by using the BigQuery Storage API.

To edit query syntax, you can do so from the BigQuery SQL editor or in the
```Optional:``` sections below.

In [3]:
# Running this code will read results from your previous job

job = client.get_job('bquxjob_77595712_188f756fcf8') # Job ID inserted based on the query results selected to explore
results = job.to_dataframe()
results

Warning: total number of rows (11969751) exceeds max_rows (20000). Falling back to pandas display.

,conversation_id,exchange_id,created_at,creator_id,guest_user_id,host_user_id,finalized_at,canceled_at,start_on,end_on,...,night_count,user_cancellation_id,exchange_type,home_type,residence_type,capacity,country,region,department,city
0,33718469,55102974,2019-07-02,504170,504170,3013524,2019-07-02 15:37:02+00:00,NaT,2019-07-03,2019-07-04,...,1,<NA>,NON_RECIPROCAL,Home,secondary,4,ESP,Illes Balears,Illes Balears,Sant Elm
1,33937863,55327734,2019-07-18,584088,584088,2677721,NaT,NaT,2019-08-02,2019-08-05,...,3,<NA>,NON_RECIPROCAL,Home,secondary,3,ESP,Illes Balears,Illes Balears,Llucmajor
2,40682234,62702330,2021-06-22,3002192,3002192,1695811,NaT,NaT,None,None,...,0,<NA>,NON_RECIPROCAL,Home,primary,6,ESP,Illes Balears,Illes Balears,Sant Rafel
3,41370298,63463995,2021-08-29,3202515,3202515,2389696,NaT,NaT,2021-09-18,2021-09-25,...,7,<NA>,NON_RECIPROCAL,apartment,secondary,6,ESP,Illes Balears,Illes Balears,Cas Catal√†
4,39719767,61599969,2021-04-03,3119630,3119630,348393,NaT,NaT,2021-05-17,2021-05-31,...,14,<NA>,NON_RECIPROCAL,Home,secondary,7,ESP,Illes Balears,Illes Balears,Can Picafort
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11969746,42941441,65230629,2022-01-27,3494912,286790,3494912,NaT,NaT,2022-08-01,2022-08-28,...,27,<NA>,RECIPROCAL,apartment,primary,5,ESP,Catalogne,Barcelone,Barcelone
11969747,48051239,70908273,2022-11-07,3770986,3770986,4049018,NaT,NaT,2023-02-16,2023-02-19,...,3,<NA>,NON_RECIPROCAL,apartment,primary,4,ESP,Catalogne,Barcelone,Barcelone
11969748,40738119,62764908,2021-06-27,26781,26781,1846873,NaT,NaT,2021-07-31,2021-08-02,...,2,<NA>,NON_RECIPROCAL,apartment,primary,4,ESP,Catalogne,Barcelone,Barcelone
11969749,41087513,63154632,2021-07-28,340972,1678031,340972,NaT,NaT,2021-08-07,2021-08-14,...,7,<NA>,RECIPROCAL,apartment,primary,8,ESP,Catalogne,Barcelone,Barcelone
11969750,45468965,68114095,2022-06-04,3579373,3579373,3314739,NaT,NaT,2022-07-17,2022-07-24,...,7,<NA>,NON_RECIPROCAL,Home,primary,7,ESP,Catalogne,Barcelone,Barcelone

## Show descriptive statistics using describe()
Use the ```pandas DataFrame.describe()```
[method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)
to generate descriptive statistics. Descriptive statistics include those that
summarize the central tendency, dispersion and shape of a dataset‚Äôs
distribution, excluding ```NaN``` values. You may also use other Python methods
to interact with your data.

In [ ]:
results.describe()